<div id='footer'>			
	<div class="footer_links">
		[ <%= link_to 'Home', articles_path %> | <%= link_to 'New Article', new_article_path %> ]
	</div>
	<div class="legal">
		<em>Copyright 2018</em>
	</div>
</div>
